<div class="container-fluid mt-5">
  <% @services.each do |service| %>
    <div class="container">
      <h5><%= service %></h5>
      <%= form_with(url: create_quote_path, format: :json, id: 'new_quote') do |form| %>
      <% end %>
    </div>
  <% end %>
</div>
