/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap";

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light);
  color: #546E7A !important;
  fill: #546E7A !important;
 }

.logo {
  font-family: 'Merienda', cursive;
}

label {
  font-size: .9rem;
  margin-bottom: .1rem;
}

.card {
  border: 0;
  box-shadow: 0 15px 35px 0 rgba(42,51,83,.12), 0 5px 15px rgba(0,0,0,.06);
  transition: all .15s ease;

  &:hover {
    text-decoration: none;
    transform: translateY(-2px);
  }
}

input {
  background-color: #e0e8ec !important;
  border: none !important;
  color: #546E7A !important;
}

.btn-primary {
  background-color: hsl(199, 18%, 40%);
  border-color: none !important;
  color: hsl(199, 26%, 90%);
  font-weight: bold;
  text-transform: uppercase;

  &:hover,
  &:active {
    background-color: hsl(199, 27%, 82%) !important;
    border-color: transparent !important;
    color: hsl(199, 19%, 28%) !important;
  }
}

.btn-primary:focus,
.btn-primary:active,
input:focus {
  box-shadow: 0 0 0 0.1rem rgb(240, 242, 242) !important;
}

.btn-link {
  color: hsl(199, 18%, 40%);

  &:hover {
    color: hsl(199, 19%, 28%) !important;
  }
}

button,
input {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#error_explanation {

  h2 {
    font-size: 1rem;
  }

  ul {
    font-size: 0.85rem;
    font-style: italic;

    li {
      color: #E91E63;
    }
  }
}

.pointer {
  cursor: pointer;
}

.card-link {
  color: inherit;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: inherit;
  }
}

.quote-btn {
  padding: .4rem .7rem;
}

// styles for large displays
@media screen and (min-width: 768px) {
  .quote-btn {
    padding: 2rem;
  }
}
